/******************************************************************************/
/*	Main carousel 															  */
/******************************************************************************/

	/**************************************************************************/
	/*	Main carousel / Headers												  */
	/**************************************************************************/	

		#template-main-carousel ul.template-main-carousel>li div.template-vertical-center-inner h2
		{
			line-height:1;
			font-size:42px;
		}
		
		#template-main-carousel ul.template-main-carousel>li div.template-vertical-center-inner h4
		{
			font-size:20px;
			font-weight:400;
		}

/******************************************************************************/
/*	Page		 															  */
/******************************************************************************/

#template-page-box
{
	max-width:650px;
}		