/******************************************************************************/
/*	Main carousel 															  */
/******************************************************************************/

#template-main-carousel
{
	width:100%;
	height:100%;
}

	#template-main-carousel ul.template-main-carousel>li div.template-vertical-center-inner
	{
		padding-left:20px;
		padding-right:20px;
	}

	/**************************************************************************/
	/*	Main carousel / Navigation buttons									  */
	/**************************************************************************/

	#template-main-carousel-prev-button,
	#template-main-carousel-next-button
	{
		display:none !important;
	}

	/**************************************************************************/
	/*	Main carousel / Headers												  */
	/**************************************************************************/	
		
		#template-main-carousel ul.template-main-carousel>li div.template-vertical-center-inner h4
		{
			margin-top:20px;
		}
		
	/**************************************************************************/
	/*	Main carousel / Slide top line										  */
	/**************************************************************************/	
	
	#template-main-carousel ul.template-main-carousel>li div.template-main-carousel-slide-top-line
	{
		margin-bottom:30px;
	}
		
	/**************************************************************************/
	/*	Main carousel / Slide progress bar									  */
	/**************************************************************************/	

	#template-main-carousel ul.template-main-carousel>li div.template-main-carousel-slide-progress-bar
	{
		margin-top:20px;
	}
	
/******************************************************************************/
/*	Navigation bar															  */
/******************************************************************************/

	/**************************************************************************/
	/*	Navigation bar / Navigation bar vertical							  */
	/**************************************************************************/

	#template-navigation-bar-vertical
	{
		display:none;
	}
	
/******************************************************************************/
/*	Menu responsive															  */
/******************************************************************************/

#template-menu-responsive
{
	display:block;
}
	
/******************************************************************************/
/*	Page		 															  */
/******************************************************************************/

	/**************************************************************************/
	/*	Page / Page															  */
	/**************************************************************************/

		/**********************************************************************/
		/*	Page / Page / Page content										  */
		/**********************************************************************/
	
		#template-page-box #template-page #template-page-content
		{
			margin-top:120px;
		}
	
/******************************************************************************/
/*	Supersized																  */
/******************************************************************************/

#supersized,
#supersized li
{
	left:0%;
	width:100%;
}

/******************************************************************************/
/*	Page		 															  */
/******************************************************************************/

#template-page-box
{
	max-width:100%;
}	

/******************************************************************************/
/*	Post																	  */
/******************************************************************************/

	/**************************************************************************/
	/*	Post / Section Bottom												  */
	/**************************************************************************/

		.template-post .template-post-section-bottom .template-post-section-bottom-left
		{
			float:none;
			clear:both;
			height:100%;
			overflow:hidden;
		}
	
		.template-post .template-post-section-bottom .template-post-section-bottom-right
		{
			margin-left:0px;
		}
		
	/**************************************************************************/
	/*	Post / Box Post Type 												  */
	/**************************************************************************/

	.template-post .template-post-box-post-type
	{
		float:left;
	}
	
	/**************************************************************************/
	/*	Post / Box Date		 												  */
	/**************************************************************************/

	.template-post .template-post-box-comment-count
	{
		float:left;
		margin-left:5px;
	}	
	
	/**************************************************************************/
	/*	Post / Header		 												  */
	/**************************************************************************/

	.template-post .template-post-header
	{
		top:0px;
		clear:both;
		margin-top:20px;
	}
	
/******************************************************************************/
/*	Component																  */
/******************************************************************************/

	/**************************************************************************/
	/*	Component / Team list												  */
	/**************************************************************************/

	h2.template-team-list-member-name
	{
		font-size:28px
	}